/.config
/coverage/
/InstalledFiles
/pkg/
/test/tmp/
/test/version_tmp/
/tmp/
/output/
/input/
/data/
/out_archive/
__pycache__

# vi(m) temp files.
*.swp

# Used by dotenv library to load environment variables.
# .env

